<div class="container" style="margin-top: 15px;">


    <div class="clearfix">
        <div class="row">
            <div class="col-8 col-lg-10 col-md-8 col-sm-8">
                <h2 class="mt-3" style="display: inline;">Dienstleistungen</h2>
            </div>
            <div class="col-2 col-lg-2 col-md-2 col-sm-6 col-xs-6">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Elemente pro Seite
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" [ngClass]="this.countPerPage == 10 ? 'active' : 'inactive'" (click)="this.changeCountPerPage(10)">10</a>
                        <a class="dropdown-item" [ngClass]="this.countPerPage == 20 ? 'active' : 'inactive'" (click)="this.changeCountPerPage(20)">20</a>
                        <a class="dropdown-item" [ngClass]="this.countPerPage == 50 ? 'active' : 'inactive'" (click)="this.changeCountPerPage(50)">50</a>
                        <a class="dropdown-item" [ngClass]="this.countPerPage == 100 ? 'active' : 'inactive'" (click)="this.changeCountPerPage(100)">100</a>
                    </div>
                </div>
            </div>
            <div class="col-4 col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div class="btn-group float-right">
                    <button class="btn btn-primary float-right mt-0" type="button" style="margin-top: 15px; float: left;"
                        routerLink="/dienstleistungen/hinzufuegen" data-toggle="tooltip" title="Anzeige hinzufügen">
                        <!-- Dienstleistung hinzufügen --> <i class="material-icons">create</i>
                    </button>
                    <button class="btn btn-primary float-right mt-0" type="button" data-toggle="collapse" data-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample" style="margin-top: 15px; float: left;">
                        <span data-toggle="tooltip" title="Anzeigen durchsuchen">
                            <!-- Dienstleistungen durchsuchen --> <i class="material-icons">search</i>
                        </span>
                    </button>
                </div>
            </div>
            <hr>
        </div>
    </div>

    <div class="row collapse" id="collapseExample" style="margin-top: 10px; padding: 0">
        <div class="row card card-body">

            <div class="row">
                <div class="col-12" style="padding: 10px;"><input [(ngModel)]="searchString" type="text" class="form-control" id="textsearch"
                        placeholder="Text Suche"></div>

                <div class="col-md-12" style="padding: 10px;">
                    <label for="exampleFormControlSelect1">Kategorien</label>
                    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="searchCategory">
                        <option value="kbk">Keine bestimmte Kategorie</option>
                        <option *ngFor="let c of categories | async">{{ c.bez }}</option>
                    </select>
                </div>
            </div>
            <button type="button" class="btn btn-success" (click)="searchDienstleistung(searchString, searchCategory)">Suchen</button>
    </div>
</div>
    <br>

    <div class="row">
        <a routerLink="/dienstleistungen/{{d._id}}/detail" class="card col-md-4-margin"
            *ngFor="let d of this.dienstleistungen">
            <div class="card-header w-100 backgroundcolor-oktablue">
                <h6 class="card-title">{{ d.title }}</h6>
                <small class="float-right card-style" >{{ d.username }}</small>
            </div>
            <div class="card-body">
            <p class="card-text" style="text-decoration: none;">{{ d.short_description }}</p>
            </div>
            <div class="card-footer">
                <span class="badge badge-primary" style="margin-right: 5px; margin-bottom: 2px;" *ngFor="let t of d.tags">{{ t }}</span>
            </div>
        </a>
    </div>

    <div class="d-flex justify-content-center mt-3">
        <nav aria-label="...">
            <ul class="pagination">
                <ng-container *ngIf="this.currentPage == 1">
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                </ng-container>
                <ng-container *ngIf="this.currentPage != 1">
                    <li class="page-item">
                        <span class="page-link" (click)="loadPage(this.currentPage-1)">Previous</span>
                    </li>
                </ng-container>
                <ng-container *ngFor="let n of array(this.maxPage)">
                    <ng-container *ngIf="n == this.currentPage">
                        <li class="page-item active"><a class="page-link">{{ n }}</a></li>
                    </ng-container>
                    <ng-container *ngIf="n != this.currentPage">
                        <li class="page-item"><a class="page-link" (click)="loadPage(n)">{{ n }}</a></li>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="this.currentPage == this.maxPage">
                    <li class="page-item disabled">
                        <a class="page-link">Next</a>
                    </li>
                </ng-container>
                <ng-container *ngIf="this.currentPage != this.maxPage">
                        <li class="page-item">
                            <a class="page-link" (click)="loadPage(this.currentPage+1)">Next</a>
                        </li>
                    </ng-container>
            </ul>
        </nav>
    </div>
</div>
