<legend>Register</legend>
<form #f2="ngForm" (ngSubmit)="onSubmitRegister(f2)" novalidate>
    <div class="form-group">
        <label for="exampleInputUsername2">Username</label>
        <input type="Username" class="form-control" id="exampleInputUsername2" name="username" ngModel required #username="ngModel"
            aria-describedby="UsernamelHelp" placeholder="Enter Username">
    </div>
    <div ngModelGroup="password" #userPassword="ngModelGroup">
        <div class="form-group">
            <label for="exampleInputPassword2">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword2" name="password" ngModel #password="ngModel" placeholder="Password" required minlength="8">
        </div>
        <div class="form-group">
            <label for="exampleInputConfirmPassword2">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputConfirmPassword2" name="confirmPassword" ngModel #confirmPassword="ngModel" placeholder="Confirm Password">
        </div>
    </div>

    <div *ngIf="(userPassword.invalid|| userPassword.value?.password != userPassword.value?.confirmPassword) && (userPassword.touched)"
    class="col-sm-3 text-danger">

      <div *ngIf="userPassword.invalid; else nomatch">
        Password needs to be more than 8 characters
      </div>
      <ng-template #nomatch>
        Passwords don't match
      </ng-template>

    </div>

    <div class="form-group">
        <label for="exampleFirstName">Vorname</label>
        <input type="Vorname" class="form-control" id="exampleFirstName" name="firstname" ngModel required #firstname="ngModel" placeholder="Vorname">
    </div>
    <div class="form-group">
        <label for="exampleLastName">Nachname</label>
        <input type="Vorname" class="form-control" id="exampleLastName" name="lastname" ngModel required #lastname="ngModel" placeholder="Nachname">
    </div>
    <div class="form-group">
        <label for="exampleEmail">E-Mail</label>
        <input type="email" class="form-control" id="exampleEmail" name="email" ngModel required #email="ngModel" placeholder="E-Mail">
    </div>

    <div class="form-group">
        <label for="exampleAddress">Addresse</label>
        <input type="text" class="form-control" id="exampleAddress" name="address" ngModel required #address="ngModel" placeholder="Addresse">
    </div>

    <div class="form-group">
        <label for="exampleCountry">Land</label>
        <select id="exampleCountry" class="form-control" name="country" ngModel required #country="ngModel">
            <option selected value="Austria">Austria</option>
            <option value="Germany">Germany</option>
        </select>
    </div>
    <div class="form-group">
        <label for="examplePlz">Postleitzahl</label>
        <input type="plz" class="form-control" id="examplePlz" name="plz" ngModel required #plz="ngModel" placeholder="PLZ: z.B 1230, 1100, etc..">
    </div>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#dienstleisterCollapse" aria-expanded="false" aria-controls="dienstleisterCollapse">
        Erweiterte Anmeldung für Dienstleister
    </button>
    <br>
    <div class="collapse" id="dienstleisterCollapse">
        <br>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="Dienstleister" name="dienstleister" ngModel #dienstleister="ngModel">
            <label class="form-check-label" for="Dienstleister">Bist du ein Dienstleister?</label>
        </div>
        <div class="form-group">
            <label for="exampleAddressDienstleister">Addresse</label>
            <input type="text" class="form-control" id="exampleAddressDienstleister" name="addressDienstleister" ngModel #addressDienstleister="ngModel" placeholder="Addresse der Firma">
        </div>

        <div class="form-group">
            <label for="exampleCountryDienstleister">Land</label>
            <select id="exampleCountryDienstleister" class="form-control" name="countryDienstleister" ngModel #countryDienstleister="ngModel">
                <option selected value="Austria">Austria</option>
                <option value="Germany">Germany</option>
            </select>
        </div>
        <div class="form-group">
            <label for="examplePlzDienstleister">Postleitzahl</label>
            <input type="plz" class="form-control" id="examplePlzDienstleister" name="plzDienstleister" ngModel #plzDienstleister="ngModel" placeholder="PLZ: z.B 1230, 1100, etc..">
        </div>
    </div>
    <br>

    <button type="submit" class="btn btn-primary ld-ext-right ld-over"  [disabled]="(!f2.form.valid) || (userPassword.invalid|| userPassword.value?.password != userPassword.value?.confirmPassword)">
        Registrieren
        <div *ngIf="this.http.data.loadingButton" class="ld ld-ring ld-cycle"></div>
    </button>
</form>


<!--<form [formGroup]="loginForm">
    <input type="text" formControlName="username"/>

    <div *ngIf="loginForm.get('username').status === 'PENDING'">
        Checking Username...
    </div>

    <div *ngIf="loginForm.get('username').status === 'VALID'">
        Username is available!
    </div>

    UsernameTaken : {{ loginForm.get('username').errors.usernameTaken }}

    <div *ngIf="loginForm.get('username').status === 'INVALID'">
        Username is not available!
    </div>

    <input type="password" formControlName="password"/>
    <input type="password" formControlName="confirmPassword"/>
</form>
-->
