<ng-container *ngIf="this.http.auth.userLoggedin?.username == this.dienstleistung?.username">
<div class="container">
        <h2>Dienstleistung bearbeiten</h2>
        <form (ngSubmit)="onSubmit()" *ngIf="this.dienstleistung.username" [formGroup]="form">
            <div class="form-group">
                <label for="inputtitel4">Titel</label>
                <input type="titel" class="form-control" id="inputtitel4" placeholder="Titel" formControlName="title">
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Kurzbeschreibung(maximal 400 Zeichen)</label>
                <textarea #kuText class="form-control" id="exampleFormControlTextarea1" rows="3" name="inputShortDesc" formControlName="short_description"></textarea>
                <div class="small">Zeichen: {{kuText.value.length}}/200 <div *ngIf="kuText.value.length > 200" class="alert alert-warning" role="alert">Achtung Text ist zu lang. Bitte kürzen</div></div>
            </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea2">Langbeschreibung</label>
                <textarea #laText class="form-control" id="exampleFormControlTextarea2" rows="3" name="inputLongDesc" formControlName="long_description"></textarea>
                <div class="small">Zeichen: {{laText.value.length}}/400 <div *ngIf="laText.value.length > 400" class="alert alert-warning" role="alert">Achtung Text ist zu lang. Bitte kürzen</div></div>
            </div>
            <div class="form-group">
            <label for="inputAddress2">Preis pro Stunde</label>
            <input type="number" class="form-control" id="inputAddress2" name="inputPph"  formControlName="pph">
            </div>
            <div class="form-group">
                <label for="inputState">Kategorie</label>
                <select id="inputState" class="form-control" name="inputCategory" formControlName="category">
                    <option [value]="c.bez" *ngFor="let c of this.categories | async">{{c.bez}}</option>
                </select>
            </div>

            <label for="inputTags">Tags</label>
            <div class="input-group mb-3">
                <input type="text" [(ngModel)]="tagNotAdded" [ngModelOptions]="{standalone: true}" id="inpuTags" class="form-control" placeholder="z.B.: Fliesenleger, Malen, etc." aria-label="Tags" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn-light-sm" type="button" (click)="this.tagAdd()">Tag hinzufügen</button>
                </div>
            </div>

            <ul class="list-group">
                <li class="list-group-item" *ngFor="let t of this.http.data.tags">{{ t }} <a style="float: right;" type="link" (click)="this.tagDelete(t)"><b style="color: red">Delete</b></a></li>
            </ul>
            <br>

            <button *ngIf="laText.value.length <= 400 && kuText.value.length <= 200" type="submit" class="btn btn-primary">Dienstleistung ändern
                <div *ngIf="this.http.data.loadingButton"></div>
            </button>
            <button *ngIf="laText.value.length > 400 || kuText.value.length > 200" class="btn btn-primary" disabled>Dienstleistung ändern<div *ngIf="this.http.data.loadingButton" class="ld ld-ring ld-cycle"></div></button>

        </form>
</div>
</ng-container>

<ng-container *ngIf="this.http.auth.userLoggedin?.username != this.dienstleistung?.username">
    <p>Sie haben keine Rechte um diese Dienstleistung zu bearbeiten</p>
</ng-container>
