<div class="container" *ngIf="!mobile">
    <div class="row">
        <div class="col-3">
            <a class="list-group-item list-group-item-action" style="background-color: #42c496" data-toggle="modal" data-target="#addNewChatModal">Neuer Chat</a>
            <ng-container *ngFor="let chat of chatUser1 | async">
                <a class="list-group-item list-group-item-action" (click)="selectChat(chat.id)">{{chat.user2}}</a>
            </ng-container>
            <ng-container *ngFor="let chat of chatUser2 | async">
                <a class="list-group-item list-group-item-action" (click)="selectChat(chat.id)">{{chat.user1}}</a>
            </ng-container>
        </div>
        <br>
        <div class="col-9">
            <app-chat [chatId]="this.selectedChat"></app-chat>
        </div>
    </div>
</div>

<div class="container" *ngIf="mobile">
    <a class="list-group-item list-group-item-action" style="background-color: #42c496" data-toggle="modal" data-target="#addNewChatModal">Neuer Chat</a>
    <ng-container *ngFor="let chat of chatUser1 | async">
        <a class="list-group-item list-group-item-action" routerLink="/chat/{{chat.id}}">{{chat.user2}}</a>
    </ng-container>
    <ng-container *ngFor="let chat of chatUser2 | async">
        <a class="list-group-item list-group-item-action" routerLink="/chat/{{chat.id}}">{{chat.user1}}</a>
    </ng-container>
</div>

<div class="modal fade" id="addNewChatModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Neuer Chat erstellen</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <label for="newChat_username">Username</label>
        <input class="form-control" placeholder="Enter Username" id="newChat_username" [(ngModel)]="receiver"/>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="createChat(this.receiver)">Erstellen</button>
    </div>
    </div>
</div>
</div>
