<div class="container">
    <div class="row">
        <div class="jumbotron col-md-12">
            <h1 class="display-4">{{ user.username }}</h1>
            <p class="lead float-right">{{ user.status }}</p>
            <p class="lead">{{ user.firstName }} {{ user.lastName }} - E-Mail: <a href="mailto:{{ user.email }}">{{ user.email }}</a>
            </p>
            <hr class="my-4">
            <p>
                <b>Land:</b> {{ user.country }}
                <br>
                <b>Postleitzahl:</b> {{ user.plz }}
            </p>
        </div>
    </div>
    <div class="row jumbotron" *ngIf="this.bewertungen.length != 0; else keineBewertungen">
        <div class="col-md-3">
            <h3>Bewertungen</h3>
            <div id="starrating" #starrating>
                Ø
                <div *ngFor="let a of arrayOne(this.durchschnitt)" style="width: inherit; display: inline-block"><span
                        style="width: 100%;"><i style="color: yellow;" class="material-icons">star_rate</i></span></div>
                <div *ngFor="let a of arrayOne(5-this.durchschnitt)" id="star"><span><i style="color: black;" class="material-icons">star_rate</i></span></div>
                <b> {{ this.durchschnitt }} </b>
            </div>
        </div>
        <div class="col-md-9">
            <ul class="list-group" style="height: 300px; overflow-y: scroll;">
                <li class="list-group-item" *ngFor="let b of this.bewertungen">
                    <div class="row">
                        <div id="starrating" class="col-md-3" #starrating *ngIf="b.langBewertung != null">
                            <div *ngFor="let a of arrayOne(b.starrating)" id="star"><span style="width: 100%;"><i style="color: yellow;"
                                        class="material-icons">star_rate</i></span></div>
                            <div *ngFor="let a of arrayOne(5-b.starrating)" id="star"><span><i style="color: black;"
                                        class="material-icons">star_rate</i></span></div>
                        </div>
                        <div class="col-md-9">
                            {{ b.langBewertung }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <ng-template #keineBewertungen>
        <div class="row jumbotron">
            <b>Dieser Benutzer hat noch keine Bewertungen</b>
        </div>
    </ng-template>
    <div class="row">
        <div class="col-md-12">
            <app-dienstleistungen-list [username]="this.user.username"></app-dienstleistungen-list>
        </div>
    </div>
</div>
