<div *ngIf="this.anfrage" class="panel-heading" role="tab" [id]="'heading'+this.anfrage._id">
    <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse'+this.anfrage._id"
            aria-expanded="true" [attr.aria-controls]="'collapse'+this.anfrage._id">
            {{ this.user.username }} -
            <div class="anfragestatus" *ngIf="this.anfrage.status === 0">* New *</div>
            <div class="anfragestatus" *ngIf="this.anfrage.status === 1">Angenommen</div>
            <div class="anfragestatus" *ngIf="this.anfrage.status === 2">Abgelehnt</div>
            <div class="anfragestatus" *ngIf="this.anfrage.status === 3">Dienstleister abgeschlossen</div>
            <div class="anfragestatus" *ngIf="this.anfrage.status === 4">Kunde abgeschlossen</div>
            <div class="anfragestatus" *ngIf="this.anfrage.status === 5">Abgeschlossen</div>
            <div class="anfragestatus" *ngIf="this.anfrage.status === 6">Abgeschlossen und Bewertet</div>

            <div class="anfragestatus" id="newtag" class="float-right">{{ this.anfrage.date}}</div>
        </a>
    </h4>
</div>
<div [id]="'collapse'+this.anfrage._id" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'heading'+this.anfrage._id">
    <div class="panel-body row">
        <div class="col-lg-12"><p>{{ this.anfrage.text }}</p></div>
        <div class="col-lg-8">
            <button [routerLink]="'/chat/' + this.anfrage.user ">Chat</button>
        </div>
        <div class="col-lg-4">
            <div class="float-right">
                <button *ngIf="this.anfrage.status === 0" (click)="this.changeAnfrage(1)">Annehmen</button>
                <button *ngIf="this.anfrage.status === 0" (click)="this.changeAnfrage(2)">Ablehnen</button>
                <button *ngIf="this.anfrage.status === 1 || this.anfrage.status === 4" (click)="this.changeAnfrage(3)">Abschließen</button>
            </div>
        </div>
    </div>
</div>
