<div class="container" style="margin-top: 15px;">
    <div class="clearfix">
        <div class="row pb-2">
            <div class="col-8 col-lg-10 col-md-8 col-sm-8">
                <h2 class="mt-3" style="display: inline;">Dienstleistungradar</h2>
            </div>
            <div class="col-4 col-lg-2 col-md-4 col-sm-4">
                <div class="btn-group float-right">
                    <button class="btn btn-primary float-right mt-0" type="button" data-toggle="collapse" data-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample" style="margin-top: 15px; float: left;">
                        <span data-toggle="tooltip" title="Anzeigen durchsuchen">
                            <!-- Dienstleistungen durchsuchen --> <i class="material-icons">search</i>
                        </span> 
                    </button>
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>
<div class="collapse" id="collapseExample" style="margin-top: 10px; padding: 0">
    <div class="container">
            <h4>Dienstleister in deiner Nähe</h4>

            <div class="form-group">
                <label for="exampleFormControlSelect1">Standort auswählen</label>
                <select [(ngModel)]="selectedPosition" class="form-control" id="exampleFormControlSelect1">
                    <option value="dbPosition" selected>Eingetragener Standort</option>
                    <option value="geoPosition">Momentaner Standort</option>
                </select>
            </div>
            <button class="btn btn-primary float-right" (click)="selectPosition()" data-toggle="collapse" data-target="#collapseExample"
            aria-expanded="ture" aria-controls="collapseExample">Auswählen</button>
            <br>
            <br>

        <!--<div class="row">
            <div class="col-12" style="padding: 10px;"><input type="text" class="form-control" id="textsearch"
                    placeholder="Text Suche"></div>

            <div class="col-lg-6 col-md-12" style="padding: 10px;">
                <label for="exampleFormControlSelect1">Kategorien</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option *ngFor="let c of categories | async">{{ c.bez }}</option>
                </select>
            </div>
            <div class="col-lg-6 col-md-12" style="padding: 10px;">
                <label for="exampleFormControlSelect1">Tags</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option *ngFor="let c of categories | async">{{ c.bez }}</option>
                </select>
            </div>
        </div>
        <button type="button" class="btn btn-success">Suchen</button>-->
    </div>
</div>



<div class="container">
    <agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom" [disableDefaultUI]="true" [zoomControl]="true" [(fitBounds)]='location.viewport'>
        <agm-marker [(latitude)]="location.marker.lat" [(longitude)]="location.marker.lng" [markerDraggable]="location.marker.draggable" [iconUrl]="standortMarkerIconUrl()">
            <agm-info-window>
                Ausgewählter Standort: {{ this.selectedPosition }}
            </agm-info-window>
        </agm-marker>

        <agm-marker *ngFor="let d of this.dienstleister"
            [latitude]="d.dienstleister.geometry.results[0].geometry.location.lat"
            [longitude]="d.dienstleister.geometry.results[0].geometry.location.lng"
            [markerDraggable]="false"
            (dragEnd)='markerDragEnd($event)'
            [iconUrl]="markerIconUrl()">
            <agm-info-window>
                {{ d.username }}
                <br>
                <button class="btn btn-outline-primary btn-sm" routerLink="/user/{{d.username}}">Zum Dienstleister</button>
            </agm-info-window>

        </agm-marker>
        <!--
        <agm-circle [latitude]="location.lat" [longitude]="location.lng"
        [(radius)]="circleRadius"
        [fillColor]="'blue'"
        [circleDraggable]="true"
        [editable]="true"></agm-circle>
        -->
    </agm-map>
</div>
