<legend>Login</legend>
<form #f1="ngForm" (ngSubmit)="onSubmit(f1)" novalidate>
    <div class="form-group">
        <label for="exampleInputUsername1">Username</label>
        <input type="Username" class="form-control" id="exampleInputUsername1" name="username" ngModel required #username="ngModel"
            aria-describedby="UsernamelHelp" placeholder="Enter Username">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" ngModel required #password="ngModel" placeholder="Password">
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="stayLoggedIn" ngModel #stayLoggedIn="ngModel">
        <label class="form-check-label" for="exampleCheck1">Eingeloggt bleiben</label>
    </div>
    <br>
    <div class="alert alert-danger" role="alert" *ngIf="this.http.data.loginError?.status == 422">
        Falscher Benutzername oder Falsches Passwort!
    </div>

    <button type="submit" class="btn btn-primary ld-ext-right ld-over float-right" [disabled]="!f1.form.valid">
        Einloggen
        <div *ngIf="this.http.data.loadingButton" class="ld ld-ring ld-cycle"></div>
    </button>
</form>

