<div class="panel-heading" role="tab" [id]="'heading'+this.dienstleistung._id">
    <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" [href]="'#collapse' + this.dienstleistung._id"
            aria-expanded="true" [attr.aria-controls]="'collapse' + this.dienstleistung._id">
            {{ this.dienstleistung.title }}
            <div id="newtag" *ngIf="this.new > 0"><span class="badge badge-secondary">{{ this.new }}</span></div>
        </a>
    </h4>
</div>
<div [id]="'collapse'+this.dienstleistung._id" class="panel-collapse collapse" role="tabpanel" [attr.aria-labelledby]="'heading' + this.dienstleistung._id">
    <div class="panel-body">
        <div *ngIf="this.anfragen.length != 0; else noAnfragen" class="panel-group ml-2" id="accordion" role="tablist"
            aria-multiselectable="true">
            <app-anfrage *ngFor="let data of this.anfragen" [anfrage]="data" class="panel panel-default"></app-anfrage>
        </div>
        <ng-template #noAnfragen>
            Noch keine Anfragen auf diese Dienstleistung!
        </ng-template>
    </div>
</div>
