<style>
    span {
        cursor: pointer;
    }
    span i {
        width: 20px;
    }
</style>
<div class="collapse" id="{{this.anfrage._id}}" style="margin-top: 10px; padding: 0">
    <h2>Bewertung abgeben</h2>
    <form #f1="ngForm" (ngSubmit)="onSubmit(f1)" novalidate>
        Sterne
        <div class="form-group">
            <div id="starrating" #starrating>
                <span (click)="changerating(1);"><i class="material-icons">star_rate</i></span>
                <span (click)="changerating(2);"><i class="material-icons">star_rate</i></span>
                <span (click)="changerating(3);"><i class="material-icons">star_rate</i></span>
                <span (click)="changerating(4);"><i class="material-icons">star_rate</i></span>
                <span (click)="changerating(5);"><i class="material-icons">star_rate</i></span>
            </div>
            <label for="exampleFormControlTextarea1">Ausführliche Bewertung</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="textbewertung" ngModel></textarea>
            <button type="submit" class="btn btn-success">bewertung abgeben</button>
        </div>
    </form>
</div>
