<div class="fullscreenloader" *ngIf="this.http.data.loading">Loading&#8230;</div>

<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/">Oktaomnia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-style" data-toggle="collapse" routerLink="/dienstleistungen" routerLinkActive="nav-style-active">Dienstleistungen</a>
                </li>
                <li class="nav-item" *ngIf="this.http.auth.userLoggedin">
                    <a class="nav-style" data-toggle="collapse" routerLink="/chat" routerLinkActive="nav-style-active">Chat</a>
                </li>
                <li class="nav-item" *ngIf="this.http.auth.userLoggedin">
                    <a class="nav-style" data-toggle="collapse" routerLink="/radar" routerLinkActive="nav-style-active">Radar</a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" *ngIf="!this.http.auth.loggedin">
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
                        Einloggen
                    </button>
                </li>
                <li class="dropdown" *ngIf="this.http.auth.loggedin">
                    <button class="btn btn-sm dropdown-toggle bg-dark" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="material-icons" style="color: white;">account_box</i>
                    </button>
                    <div class="dropdown-menu my-2" aria-labelledby="dropdownMenuButton" *ngIf="this.http.auth.userLoggedin">
                        <a class="dropdown-item" data-toggle="collapse" href="#" routerLink="/account">Mein Account</a>
                        <a class="dropdown-item" data-toggle="collapse" href="#" routerLink="/account/einstellungen">Einstellungen</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">Eingeloggt als <b>{{ this.http.auth.userLoggedin.username }}</b></a>
                        <a class="dropdown-item" href="" (click)="logout()">Ausloggen</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="nav nav-pills card-header-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-login-tab" data-toggle="pill" href="#v-pills-login" role="tab"
                        aria-controls="v-pills-login" aria-selected="true" style="float:left;">Einloggen</a>
                    <a class="nav-link" id="v-pills-register-tab" data-toggle="pill" href="#v-pills-register" role="tab"
                        aria-controls="v-pills-register" aria-selected="true" style="float:left;">Registrieren</a>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-login" role="tabpanel" aria-labelledby="v-pills-login-tab">
                        <app-login-form></app-login-form>
                    </div>
                    <div class="tab-pane fade show" id="v-pills-register" role="tabpanel" aria-labelledby="v-pills-register-tab">
                        <app-register-form></app-register-form>
                    </div>
                </div>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>-->
        </div>
    </div>
</div>
<br>
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="footer text-center pt-4">
        <p style="color:white">© 2019 Copyright: Oktaomnia.at</p>
</footer>
<!-- Footer -->


<style>
    .ml-auto .dropdown-menu {
        left: auto !important;
        right: 0px;
    }
</style>
