<ul class="list-group">
    <li class="list-group-item" *ngFor="let a of this.anfragen">
        <div class="row">
            <div class="col-lg-8 col-xs-12 col-md-8">
                {{ a.text }}
            </div>
            <div class="col-lg-1 col-xs-4 col-md-3">
                <div class="">
                    <div *ngIf="a.status == 0">
                        <div data-toggle="tooltip" data-placement="bottom" title="Anfrage wurde noch nicht angenommen" style="width: 20px; height: 20px;"><i class="material-icons">cached</i></div>
                    </div>
                    <div *ngIf="a.status == 1">
                        <div data-toggle="tooltip" data-placement="bottom" title="Anfrage angenommen" style="width: 20px; height: 20px;"><i class="material-icons">info</i></div>
                    </div>
                    <div *ngIf="a.status == 2">
                        <div data-toggle="tooltip" data-placement="bottom" title="Anfrage abgelehnt" style="width: 20px; height: 20px;"><i class="material-icons">clear</i></div>
                    </div>
                    <div *ngIf="a.status == 4">
                        <div data-toggle="tooltip" data-placement="bottom" title="Du hast die Anfrage als abgeschlossen markiert" style="width: 20px; height: 20px;"><i class="material-icons">info</i></div>
                    </div>
                    <div *ngIf="a.status == 5">
                        <div data-toggle="tooltip" data-placement="bottom" title="abgeschlossen" style="width: 20px; height: 20px;"><i class="material-icons">done</i></div>
                    </div>
                    <div *ngIf="a.status == 6">
                        <div data-toggle="tooltip" data-placement="bottom" title="abgeschlossen und bewertet" style="width: 20px; height: 20px;"><i class="material-icons">done_all</i></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-xs-8 col-md-4">
                <div *ngIf="a.status == 5"><button class="btn float-right mt-0" data-toggle="collapse"
                        [attr.data-target]="'#' + a._id" aria-expanded="false" [attr.aria-controls]="a._id">Dienstleister
                        bewerten</button>
                </div>
                <div *ngIf="a.status == 1 || a.status == 3"><button class="btn float-right" (click)="changeAnfrage(a, 4)">Abschließen</button></div>
                <div *ngIf="a.status == 2"><button class="btn float-right">Löschen</button></div>
            </div>

            <div class="col-12" *ngIf="a.status == 5">
                <app-bewertung-add [anfrage]="a"></app-bewertung-add>
            </div>
        </div>
    </li>
</ul>
