<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                        aria-selected="true">Meine Dienstleistungen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                        aria-selected="false">Meine Anfragen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                        aria-selected="false">Erhaltene Anfragen</a>
                </li>
            </ul>
        </div>
        <div class="col-md-12">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <br>
                    <h2>Meine Dienstleistungen</h2>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let d of this.anzeigenPerUser | async" routerLink="/dienstleistungen/{{d._id}}/edit">{{
                            d.title }}</li>
                    </ul>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <br>
                    <h2>Anfragen</h2>
                    <app-anfragen-manage></app-anfragen-manage>
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <div class="row mt-4">
                        <div class="col-12">
                            <h2>Dienstleistungen mit Anfragen</h2>
                        </div>
                        <div id="accordion" class="col-12 panel-group" role="tablist">
                            <app-anfragen *ngFor="let a of this.anzeigenPerUser | async" [dienstleistung]="a" class="panel panel-default"></app-anfragen>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
