<div >
    <div class="lds-facebook" *ngIf="this.loading">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<h3>Dienstleistungen:</h3>
<br>
<div class="list-group">
    <div *ngFor="let d of this.dienstleistungenPerUser">
        <a routerLink="/dienstleistungen/{{d._id}}/detail" class="list-group-item list-group-item-action flex-column align-items-start"
            (click)="changeDienstleistung(d._id)">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ d.title }}</h5>
                <small>{{ d.username }}</small>
            </div>
            <p class="mb-1">{{ d.short_description }}</p>
            <span class="badge badge-primary" style="margin-right: 5px;" *ngFor="let t of d.tags">{{ t }}</span>
        </a>
        <ng-template #noDL>
            Keine weiteren Dienstleistungen von diesem Nutzer
        </ng-template>
    </div>
</div>
