<h3>Anfrage erstellen</h3>
<div *ngIf="this.http.data.anfrageAddLoaded; else loadSuccess">
    <form #f16="ngForm" (ngSubmit)="submit(f16)" novalidate>
        <div class="form-group">
        <textarea class="form-control" id="anfragenaddtext" placeholder="Text" name="anfragenaddtext" ngModel #anfragenaddtext="ngModel" required></textarea>
        </div>
        <div class="form-group">
            <input type="date" class="form-control" id="anfragenadddate" name="anfragenadddate" ngModel #anfragenadddate="ngModel" required>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<ng-template #loadSuccess>
    <div class="circle-loader">
        <div class="checkmark draw"></div>
    </div>
</ng-template>
