<br>
<div class="container" *ngIf="dienstleistung$ as d">
    <div class="row">
        <div class="col-lg-9">
            <div class="card" style="height: 100%;">
                <h5 class="card-header-2">{{ d.title }} <b class="float-right">{{ d.pph }}€</b></h5>
                <div class="card-body">
                    <p class="card-text">{{ d.long_description || d.description }}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3" *ngIf="this.user$ as user">
            <div class="card">
                <h5 class="card-header-2">{{ user.status }}: {{ user.username }}</h5>
                <div class="card-body">
                    <p class="card-text">{{ user.firstName }} {{ user.lastName }} <br> {{ user.email }} </p>
                    <button class="btn" routerLink="/user/{{user.username}}">Zum Nutzer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row container card" style="padding:0; margin:0; margin-top: 20px;">
        <div class="card-body">

                <div class="col-lg-12" style="margin: 0; float: left; padding-left: 0;">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link btn-primary mb-1" *ngIf="this.http.auth.userLoggedin?.username != this.dienstleistung$?.username && this.http.auth.loggedin" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Anfrage erstellen</a>
                        <a class="nav-link btn-primary mb-1" *ngIf="this.http.auth.userLoggedin?.username == this.dienstleistung$?.username" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Anfragen</a>
                        <a class="nav-link btn-primary mb-1" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="true">Weitere Dienstleistungen dieses Nutzers</a>
                    </div>
                </div>
                <div class="col-lg-12" style="margin: 0; float: left; padding-left: 0;">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div *ngIf="this.dienstleistung$?._id" class="tab-pane fade" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                            <app-anfragen-add [dienstleistung]="this.dienstleistung$"></app-anfragen-add>
                        </div>
                        <div *ngIf="this.dienstleistung$?._id" class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                            <app-anfragen [dienstleistung]="this.dienstleistung$._id"></app-anfragen>
                        </div>
                        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                <br>
                            <h2>Dienstleistungen:</h2>
                            <div class="list-group">
                                <div *ngFor="let d of this.dienstleistungenPerUser | async">
                                <a routerLink="/dienstleistungen/{{d._id}}/detail" class="list-group-item list-group-item-action flex-column align-items-start mb-1"
                                *ngIf="d._id != this.dienstleistung$._id"
                                (click)="changeDienstleistung(d._id)">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h4 class="mb-1">{{ d.title }}</h4>
                                        <small class="" >{{ d.username }}</small>
                                    </div>
                                    <p class="mb-1" style="text-decoration: none;">{{ d.short_description }}</p>
                                    <span class="badge badge-primary mb-1" style="margin-right: 5px; margin-bottom: 2px;" *ngFor="let t of d.tags">{{ t }}</span>
                                </a>

                                <ng-template #noDL>
                                    Keine weiteren Dienstleistungen von diesem Nutzer
                                </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>
