<ng-container *ngIf="this.http.auth.userLoggedin">
<div class="container">
    <h2>Dienstleistung hinzufügen</h2>
    <form #f1="ngForm" (ngSubmit)="onSubmit(f1)" novalidate>
        <div class="form-group">
            <label for="inputtitel4">Titel</label>
            <input type="titel" class="form-control" id="inputtitel4" placeholder="Titel" name="inputTitel" ngModel required #inputTitel="ngModel">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Kurzbeschreibung</label>
            <textarea #kuText class="form-control" id="exampleFormControlTextarea1" rows="3" name="inputShortDesc" ngModel required #inputShortDesc="ngModel"></textarea>
            <div class="small">Zeichen: {{kuText.value.length}}/200 <div *ngIf="kuText.value.length > 200" class="alert alert-warning" role="alert">Achtung Text ist zu lang. Bitte kürzen</div></div>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea2">Langbeschreibung</label>
            <textarea #laText class="form-control" id="exampleFormControlTextarea2" rows="3" name="inputLongDesc" ngModel required #inputLongDesc="ngModel"></textarea>
            <div class="small">Zeichen: {{laText.value.length}}/400 <div *ngIf="laText.value.length > 400" class="alert alert-warning" role="alert">Achtung Text ist zu lang. Bitte kürzen</div></div>
        </div>
        <div class="form-group">
        <label for="inputAddress2">Preis pro Stunde</label>
        <input type="number" class="form-control" id="inputAddress2" name="inputPph" ngModel required #inputPph="ngModel">
        </div>
        <div class="form-group">
            <label for="inputState">Kategorie</label>
            <select id="inputState" class="form-control" name="inputCategory" ngModel required #inputCategory="ngModel">
                <option *ngFor="let c of this.categories | async">{{ c.bez }}</option>
            </select>
        </div>

        <label for="inputTags">Tags</label>
        <div class="input-group mb-3">
            <input type="text" [(ngModel)]="tagNotAdded" [ngModelOptions]="{standalone: true}" id="inpuTags" class="form-control" placeholder="z.B.: Fliesenleger, Malen, etc." aria-label="Tags" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary pt-0 pb-0" type="button" (click)="this.tagAdd()">Tag hinzufügen</button>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item" *ngFor="let t of this.util.data.tags">{{ t }} <a style="float: right;" type="link" (click)="this.tagDelete(t)"><b style="color: red">Delete</b></a></li>
        </ul>
        <br>
        <button *ngIf="laText.value.length <= 400 && kuText.value.length <= 200" type="submit" class="btn btn-primary">Dienstleistung hinzufügen
            <div *ngIf="this.http.data.loadingButton"></div>
        </button>
        <button *ngIf="laText.value.length > 400 || kuText.value.length > 200" class="btn btn-primary" disabled>Dienstleistung hinzufügen</button>
  </form>
</div>
</ng-container>
<ng-container *ngIf="!this.http.auth.userLoggedin">Bitte Loggen sie sich ein um eine Dienstleistung zu erstellen</ng-container>
