<div class="container">
    <legend>{{ this.currentChatPartner }}</legend>
    <div class="border-bottom border-primary mt-2" id="scrollbot" style="height: 350px; overflow-x: hidden; overflow-y: auto; white-space: nowrap">
        <div class="row ml-1 mb-1" *ngFor="let m of this.messages | async">
            <div class="card mr-4 text-white bg-primary ml-auto" *ngIf="m.sender === this.cs.http.auth.userLoggedin.username" style="border-radius: 20px; max-width: 270px;">

                <div class="card-text ml-2 mr-2 p-1" style="white-space: pre-wrap">{{m.msg}} - <small>{{ this.formatDate(m.sendetAt) }}</small></div>

            </div>
            <div class="card ml-2" *ngIf="m.sender !== this.cs.http.auth.userLoggedin.username" style="border-radius: 20px; max-width: 270px;">

                <div class="card-text ml-2 mr-2 p-1" style="white-space: pre-wrap">{{m.msg}} - <small>{{ this.formatDate(m.sendetAt) }}</small></div>

            </div>
        </div>
    </div>
<br>

<div class="input-group mb-3">
    <input type="text" class="form-control" [(ngModel)]="message" (keyup.enter)="this.sendMessage()" placeholder="Enter message" aria-label="Enter message" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <button class="btn" (click)="this.sendMessage()" id="basic-addon2">Senden</button>
    </div>
</div>
</div>
